﻿@model IdentityProject.Models.RegisterViewModel
@using IdentityProject.Resources
@using IdentityProject.Areas.Administrators.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-user"></i>
                <a href="@Url.Action("Index","Administrator")">@AdministratorResource.Administrators</a>
            </li>
            <li class="active">@Resource.BtnAdd @AdministratorResource.Administrator</li>
        </ul>
    </div>
}
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption">@AdministratorResource.AddAdministrator</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-user circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-user circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-envelope circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                @Html.Label(Resource.Phone, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-phone circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-lock circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-sm-2 control-label no-padding-left" })
                                <div class="col-sm-6">
                                    <span class="input-icon icon-right full_width">
                                        @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                                        <i class="glyphicon glyphicon-lock circular"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-2 control-label no-padding-left"></label>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-sm btn-blue"><i class="fa fa-check" aria-hidden="true"></i>@Resource.BtnAdd</button>
                                    <a href="@Url.Action("Index")" class="btn btn-sm btn-red btn-danger"><i class="fa fa-arrow-right" aria-hidden="true"></i>@Resource.BtnReturn</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#Menu_Administrator").addClass("active");
    </script>
}