/*

************************************************* 

    Template Author : pixelhint.com
    Author Email    : contact@pixelhint.com
    Template Name   : Notify
    
    
************************************************* 
    
*/


/*  General CSS*/
/*scroll bar styling*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    /*H styling*/
h1, h2, h3, h4, h5 ,h6{
    color: #ffffff !important;
    font-family: "JF-Flat", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 3vw !important;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.wrapper{
    width: 790px;
    margin: 0 auto;
}





.content{
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 9999;
    text-align: center;
    background-color:transparent !important;
}

.content H1{
    color: #fff;
    font-family: "JF-flat", arial;
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content p {
    color: #fff !important;
    font-family: "style="font-family:JF-Flat"", arial;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}

.content p.description{
    margin-top: 20px;
}

/*Counter*/
.counter{
    margin-top: 40px;
	width: 100%;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}


.time_circles > div {
    position: absolute;
    text-align: center;
}

.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
	font-size: 20px !important;
    line-height: 0px !important;
    text-align: center;
    text-transform: uppercase;
    font-family: 'JF-Flat', Arial;
    color: #fff;
    font-weight: normal !important;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'JF-Flat', Arial;
    margin: 0.25em 0 0.5em 0; 
    font-weight: bold;
    color: #fff;
	font-weight:900;
    font-size: 80px !important;

}

.body-bg {
	background:rgba(0,0,0,0.5) url('../img/backslider/overlay.png') repeat;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:98;
}
