﻿@model IdentityProject.Models.ResetPasswordModel
@using IdentityProject.Resources
@using IdentityProject.Helpers
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@Resource.WebSiteName</title>
    <meta name="theme-color" content="#02579F" />
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/my_dashboard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @if (CultureHelper.IsRighToLeft())
    {
        <link href="@Url.Content("~/Content/css/bootstrap-rtl.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/beyond-rtl.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/4095-rtl.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/custom-rtl.css")" rel="stylesheet" />
    }
    else
    {
        <link id="beyond-link" href="@Url.Content("~/Content/css/beyond.min.css")" rel="stylesheet" type="text/css" />
    }
    <link href="@Url.Content("~/Content/components/msgGrowl/css/msgGrowl.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/demo.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/account.css")" rel="stylesheet" />

    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <style>
        .field-validation-error {
            color: #dd4b39;
            font-size: 12px;
        }

        .validation-summary-errors ul {
            color: #dd4b39;
            font-size: 12px;
            list-style: none;
        }
    </style>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="@Url.Content("~/Content/js/skins.min.js")"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body class="login">
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="images-container">
                <img src="@Url.Content("~/Content/img/logo/icon-144.png")" />
            </div>
            <div class="loginbox-title">@Resource.Change @Resource.Password</div>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReturnToken)
                @Html.ValidationSummary(true, null, new { })
                <div class="loginbox-textbox">
                    @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", placeholder = Resource.Password })
                </div>
                <div class="loginbox-textbox">
                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", placeholder = Resource.ConfirmPassword })
                </div>
                <div class="loginbox-submit">
                    <button type="submit" class="btn btn-primary btn-block">@Resource.Change</button>
                </div>
            }
        </div>
        <div class="logobox">
            <p class="text-align-center line-height-35">
                <a href="@Url.Action("Login", "Account")">تسجيل الدخول</a>
            </p>
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Content/components/msgGrowl/js/msgGrowl.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.backstretch.min.js")"></script>

    <!--Beyond Scripts-->
    @if (CultureHelper.IsRighToLeft())
    {
        <script src="@Url.Content("~/Content/js/skins.min.js")"></script>
        <script src="@Url.Content("~/Content/js/beyond.min.js")"></script>
    }
    else
    {
        <script src="@Url.Content("~/Content/js/beyond.js")"></script>
    }

</body>
<!--Body Ends-->
</html>
<script>
    jQuery.backstretch([
        "@Url.Content("~/Content/img/slide_01.jpg")",
        "@Url.Content("~/Content/img/slide_02.jpg")",
        "@Url.Content("~/Content/img/slide_03.jpg")",
        "@Url.Content("~/Content/img/slide_04.jpg")"
    ], {
    duration: 5000, fade: 1000
    });

    if ('@TempData["msg"]' != "") {
        jQuery.msgGrowl({
            type: '@TempData["MsgType"]'
            , title: 'معطيات'
            , text: '@TempData["msg"]'
        });
    }
</script>