﻿.images-container {
    text-align: center;
}

    .images-container > img {
        border-radius: 7px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        background: #fff;
        margin-top: -59px;
    }

.login-container .loginbox .loginbox-title {
    height: 25px;
}
