﻿@font-face {
    font-family: "JF-Flat";
    src: url('/Content/fonts/JF-Flat-regular.ttf');
}


.navbar-header {
    float: right;
}

.form-search > div:last-child {
    text-align: left;
}

.login-container .loginbox .loginbox-title {
    font-family: "JF-Flat","WYekan";
}

.account-area .dropdown-footer {
    text-align: right;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    position: relative !important;
    float: left;
}

.dataTables_wrapper > .row:first-child > div:first-child {
    float: left;
}

/*==============================
            Headers
 ==============================*/
.page-sidebar .sidebar-menu .submenu > li > a {
    font-size: 12px;
}

/*==============================
            Tooltip
 ==============================*/
.tooltip-inner {
    font-family: JF-Flat;
}

/*===============================
           GOOGLE MAP
 ==============================*/
.gm-style-iw {
    font-family: 'JF-Flat' !important;
    text-align: right;
    left: 15px;
}

    .gm-style-iw > div:last-child {
        right: 0 !important;
        left: 12px !important;
        top: 15px !important;
    }

.gm-style-mtc div {
    font-family: 'JF-Flat' !important;
}

.gmnoprint {
    right: 81px;
}

.gm-style-cc > div:last-child > a {
    font-family: JF-Flat;
}
