﻿/*========================================*/
/*             Datatable                  */
/*========================================*/
.dataTables_empty {
    text-align: center;
}

.dataTable {
    width: 100% !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.custom_paginate {
    display: block;
    margin-right: 0;
    margin-left: 0;
    text-align: center !important;
    float: none !important;
}


.error-divider > p {
    font-size: 25px !important;
    line-height: 60px;
}

.line-height-35 {
    line-height: 35px;
}

.help-block {
    color: #999;
}

.full_width {
    width: 100% !important;
}

.width_90 {
    width: 90% !important;
}

.width_80 {
    width: 80% !important;
}

.width_70 {
    width: 70% !important;
}

.width_50 {
    width: 50% !important;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

a[data-toggle="add_new"] {
    cursor: pointer;
}

@media (max-width: 767px) {
    .width_70, .width_50 {
        width: 100% !important;
    }
}

.item_image {
    display: inline-block;
    position: relative;
    margin: 0 7px 0 0;
}

.img_item {
    width: 200px;
    height: 200px;
    display: block;
    border: 2px solid #64B5F6;
    cursor: pointer;
}

.red_circle {
    border-radius: 50%;
    /*border: 1px solid gray;*/
    width: 20px;
    height: 20px;
    background: #ac193d;
    margin: auto;
    display: inline-block;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.green_circle {
    /*border: 1px solid gray;*/
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #82ba00;
    margin: auto;
    display: inline-block;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.google_map {
    direction: ltr !important;
    font-family: 'Droid Arabic Kufi';
    height: 400px;
}


.padding_5 {
    padding: 5px;
}

.dataTable tbody tr td .btn {
    margin-top: 1px;
}

.alignRight {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.displayBlock {
    display: block;
}

.titleDetails {
    font-size: 16px;
}

.noMargin {
    margin: 0;
}

.marginBottom_10 {
    margin-bottom: 10px;
}

/*
    custom add on
*/

.custom_addon {
    color: #11a9cc !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border: 2px solid #11a9cc;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .custom_addon:hover {
        background: #11a9cc;
        color: #fff !important;
    }

.custom_remove {
    color: #d50000 !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border: 2px solid #d50000;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .custom_remove:hover {
        background: #d50000;
        color: #fff !important;
    }

.error {
    border-color: #d50000 !important;
}

.icon-error {
    color: #d50000 !important;
    font-size: 20px;
}

.icon-success {
    color: #1ABC9C !important;
    font-size: 20px;
}


/*===================================================
                        Shake
 ===================================================*/

.input_shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}

/*========================================*/
/*             CKEDITOR               s    */
/*========================================*/

.cke_chrome {
    border-right: 2px solid #eee !important;
    border-left: 2px solid #eee !important;
}

.cke_combo_text {
    font-family: 'JF-Flat' !important;
    padding-right: 10px !important;
}

#cke_14_text {
    font-family: Arial !important;
}


.cke_combo_button {
    width: 130px !important;
}


.cke_combo__fontsize .cke_combo_text {
    width: 60px !important;
}

.cke_chrome {
    border-radius: 0 !important;
}

.cke_inner {
    border-radius: 0 !important;
}

.cke_toolgroup {
    border-radius: 0 !important;
}

.cke_combo_button {
    border-radius: 0 !important;
}

.cke_button {
    border-radius: 0 !important;
}

/*===============================
           GOOGLE MAP
 ==============================*/

@media (max-width: 425px) {
    .profile-container #contact-map {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 375px) {
    .profile-container #contact-map {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 320px) {
    .profile-container #contact-map {
        width: 200px;
        height: 200px;
    }
}

/*========================================*/
/*             File Upload                */
/*========================================*/

.thumbnail {
    border-radius: 0;
}

.fileupload .thumbnail > img {
    display: block !important;
    height: 125px;
}

.dt_img {
    width: 75px;
    box-shadow: 0 0 38px 1px rgba(0, 0, 0, 0.3) inset;
}

    .dt_img > span {
        margin: 15px 0;
    }

    .dt_img > img {
        width: 75px;
    }

/*========================================*/
/*                  NAV                  */
/*========================================*/
.nav > li > a {
    padding: 15px 15px;
}
/*========================================*/
/*               Order List               */
/*========================================*/
.custom-order-item-1 {
    height: 20px;
}

.custom-order-item-2 {
    height: 40px;
}

    .custom-order-item-1 > div, .custom-order-item-2 > div {
        position: absolute;
        top: 50%
    }

.with_shadow_1 {
    -webkit-box-shadow: 0 1px 0 #ccc;
    -moz-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
}

.with_shadow_2 {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.min-height-0 {
    min-height: 0 !important;
}

/*===========================================*/
/*              SELECT2                     */
/*===========================================*/
.select2-results__options {
    overflow-y: scroll !important;
}

    .select2-results__options::-webkit-scrollbar {
        width: 7px;
    }

    .select2-results__options::-webkit-scrollbar-track {
        background: #ccc;
        -webkit-box-shadow: inset 0 0 6px rgb(0,0,0,0.3);
    }

    .select2-results__options::-webkit-scrollbar-thumb {
        background-color: #02579F;
        outline: 1px solid #ccc;
    }
/*===========================================*/
/*              CAROUSEL                     */
/*===========================================*/
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,color-stop(rgba(2,87,159,.5) 0%),color-stop(rgba(2,87,159,.0001) 100%));
    background-image: -o-linear-gradient(left,rgba(2,87,159,.5) 0%,rgba(2,87,159,.0001) 100%);
    background-image: linear-gradient(to right,rgba(2,87,159,.5) 0%,rgba(2,87,159,.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,color-stop(rgba(2,87,159,.0001) 0%),color-stop(rgba(2,87,159,.5) 100%));
    background-image: -o-linear-gradient(left,rgba(2,87,159,.0001) 0%,rgba(2,87,159,.5) 100%);
    background-image: linear-gradient(to right,rgba(2,87,159,.0001) 0%,rgba(2,87,159,.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
}

/*===========================================*/
/*              BUTTON                     */
/*===========================================*/
.btn-floating {
    position: absolute !important;
    display: inline-block !important;
    z-index: 99;
    left: 10px !important;
    bottom: 10px !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
}

    .btn-floating:hover {
        background-color: #2FAAE1 !important;
    }



