﻿@using IdentityProject.Resources
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="padding: 11px 9px 9px 0;">
                    <small>
                        <img src="" alt="" /> @Resource.WebSiteName
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <img src="@Url.Content("~/Content/img/avatar.png")">
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>@ViewBag.Username</span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->

                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>@ViewBag.Username</a></li>
                                    <li class="email"><a>@ViewBag.Role</a></li>
                                    <li class="username"><a></a></li>
                                    <li class="dropdown-footer">
                                        <a href="@Url.Action("LogOff","Account", new { area=""} )">
                                            @Resource.Exit
                                            <i class="fa fa-sign-out"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->


                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                        </ul>
                    </div>
                </div>
            }
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
<!-- /Navbar -->