﻿@using IdentityProject.Helpers
@using IdentityProject.Areas.Administrators.Resources
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->

    <ul class="nav sidebar-menu">
        @MenuHelper.AddItem("users", "Index", "Administrator", "Administrators", AdministratorResource.Administrators, AdministratorResource.AdministratorList, AdministratorResource.AddAdministrator)
    </ul>
    <!-- /Sidebar Menu -->
</div>